// Quasar Sass Variables

// Primary color
$primary: #1976d2

// Secondary color
$secondary: #26a69a

// Negative color
$negative: #c10015

// Info color
$info: #31ccec

// Success color
$success: #21ba45

// Warning color
$warning: #f2711c
